<!DOCTYPE html>  
<html>  
<head>  
    <title>List of Books</title>  
</head>  
<body>  
    <h2>Books Information</h2>
      
    <form action = "/savedetails" method="post">  
    <table>  
        <tr><td>Regular Books</td><td><input type="text"name="Regular Books"></td></tr>
        <tr><td>Fiction Books</td><td><input type="text"name="Fiction Books"></td></tr>
        <tr><td>Novels Books</td><td><input type="text"name="Novels Books"></td></tr>  
        <tr><td>No of Days for Regular Books</td><td><input type="text" name="No of Days for Regular Books"></td></tr> 
        <tr><td>No of Days for Fiction Books</td><td><input type="text" name="No of Days for Fiction Books"></td></tr>
        <tr><td>No of Days for Novels Books</td><td><input type="text" name="No of Days for Novels Books"></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>  
</html>  